@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;

  /* Secondary */
  --color-secondary-900: #14213d;
  --color-secondary-800: #1e3a8a;
  --color-secondary-700: #1d4ed8;
  --color-secondary-600: #2563eb;
  --color-secondary-500: #3abeff;
  --color-secondary-400: #60a5fa;
  --color-secondary-300: #93c5fd;

  /* Accent */
  --color-accent-500: #fca311;

  /* Card */
  --color-card-500: #e9ecef;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.event-button {
  background-color: var(--color-secondary-500);
  color: white;
  max-height: 2rem;
  min-height: 1rem;
  padding: 0rem 0.25rem 0 0.25rem;
  justify-content: space-between;
  border-radius: 1rem;

  display: flex; /* so width can shrink/grow to content */
  flex-direction: column;
  overflow: hidden; /* clip text initially */
  transition: width 0.3s ease; /* smooth animation */
}

.event-button:hover {
  overflow: visible;
  width: fit-content;
  min-width: 100%;
  max-width: 200%;
  padding: 0rem 0.25rem 0 0.25rem;
  z-index: 999;
  white-space: nowrap;
  gap: 0.75rem;
  cursor: pointer;
}

.event-button-expanded {
  background-color: var(--color-secondary-300);
  min-width: 50vw;
  min-height: 50vh;
  position: fixed;
  top: 25vh;
  left: 25vw;
  color: white;
  border-radius: 1rem;

  padding: 1.5rem 2rem 1.5rem 2rem;

  font-size: 1.75rem;
  justify-content: start;
}
/*"bg-secondary-400 flex flex-row justify-between rounded-md pl-2 pr-2 text-md overflow-hidden max-h-6*/
